In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('stats.csv')

In [3]:
df

        Name  Salary Country
0        Dan   40000     USA
1  Elizabeth   32000  Brazil
2        Jon   45000   Italy
3      Maria   54000     USA
4       Mark   72000     USA
5       Bill   62000  Brazil
6       Jess   92000   Italy
7      Julia   55000     USA
8       Jeff   35000   Italy
9        Ben   48000  Brazil

## Measure of central tendency

In [4]:
# Mean salary
mean1 = df['Salary'].mean()
mean1

53500.0

In [5]:
# Sum of salary
sum1 = df['Salary'].sum()
sum1

535000

In [6]:
# Maximum Salary
max1 = df['Salary'].max()
max1

92000

In [7]:
# Minimum Salary
min1 = df['Salary'].min()
min1

32000

In [8]:
# Total count
count1 = df['Salary'].count()
count1

10

In [9]:
# Median
median = df['Salary'].median()
median

51000.0

In [11]:
# Mode
mode = df['Salary'].mode()
mode

0    32000
1    35000
2    40000
3    45000
4    48000
5    54000
6    55000
7    62000
8    72000
9    92000
dtype: int64

In [15]:
countrywise_sum = df.groupby(['Country'])['Salary'].sum()
countrywise_sum

Country
Brazil    142000
Italy     172000
USA       221000
Name: Salary, dtype: int64

In [ ]:
countrywise_count = df.groupby(['Country']).count()
countrywise_count

## Measure of variability

In [16]:
#variance of salaries
var1=df['Salary'].var()
var1

332055555.5555556

In [17]:
#Standard deviation
std1 = df['Salary'].std()
std1

18222.391598128816

##  Measure of symmetry

In [18]:
skew1 = df.skew(axis=0, skipna=True)
skew1

Salary    1.021551
dtype: float64

In [19]:
## Covariance and Correlation
bw = pd.read_csv('BirthWeight.csv')
bw

    Infant ID  Gestational Age (Weeks)  Birth Weight (Grams)
0           1                     34.7                  1895
1           2                     36.0                  2030
2           3                     29.3                  1440
3           4                     40.1                  2835
4           5                     35.7                  3090
5           6                     42.4                  3827
6           7                     40.3                  3260
7           8                     37.3                  2690
8           9                     40.9                  3285
9          10                     38.3                  2920
10         11                     38.5                  3430
11         12                     41.4                  3657
12         13                     39.7                  3685
13         14                     39.7                  3345
14         15                     41.1                  3260
15         16                     38.0                  2680
16         17                     38.7                  2005

In [20]:
bw.set_index('Infant ID', inplace=True)
bw.head()

           Gestational Age (Weeks)  Birth Weight (Grams)
Infant ID
1                             34.7                  1895
2                             36.0                  2030
3                             29.3                  1440
4                             40.1                  2835
5                             35.7                  3090

In [21]:
bw.cov()

                         Gestational Age (Weeks)  Birth Weight (Grams)
Gestational Age (Weeks)                 9.963824              1798.025
Birth Weight (Grams)                 1798.025000            485478.750

In [22]:
bw.corr(method='pearson')

                         Gestational Age (Weeks)  Birth Weight (Grams)
Gestational Age (Weeks)                 1.000000              0.817519
Birth Weight (Grams)                    0.817519              1.000000

In [23]:
#Covariance indicates that there is correlation exists between two variable or not 
#Correlation coefficient of 0.818 indicates the relationship between two variable is strong

In [18]:
# importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import skew
from scipy.stats import kurtosis

In [ ]:
pd.set_option('display.max_columns', None) # to display all the columns
pd.options.display.float_format = "{:, 2f}".format # to display float value upto two decimal value

In [12]:
# reading the data from csv file
xls = pd.read_csv('diamonds.csv')

In [14]:
xls.head()

   id  carat      cut color clarity  depth  table  price     x     y     z
0   1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [15]:
des_df = xls.drop(['id'], axis = 1) # drop id column
for col in des_df:
    if des_df[col].dtype == 'object':
        des_df = des_df.drop([col], axis=1)

In [16]:
des_r = des_df.describe()
des_r = des_r.rename(index={'50%': 'median/50%'})
des_r

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
median/50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [17]:
var_r = des_df.var() 
varlist = []
for col in des_df.columns:
    if des_df[col].dtype == 'object':
        continue
    varlist.append(round(des_df[col], 5))
df = pd.DataFrame([varlist], columns= des_r.columns, index=['var'])
mct = des_r.append(df) # adding var to describe result
mct

,carat,depth,table,price,x,y,z
count,53940.0,53940.0,53940.0,53940.0,53940.0,53940.0,53940.0
mean,0.79794,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.2,43.0,43.0,326.0,0.0,0.0,0.0
25%,0.4,61.0,56.0,950.0,4.71,4.72,2.91
median/50%,0.7,61.8,57.0,2401.0,5.7,5.71,3.53
75%,1.04,62.5,59.0,5324.25,6.54,6.54,4.04
max,5.01,79.0,95.0,18823.0,10.74,58.9,31.8
var,0 0.23 1 0.21 2 0.23 3 ...,0 61.5 1 59.8 2 56.9 3 ...,0 55.0 1 61.0 2 65.0 3 ...,0 326 1 326 2 327 3 ...,0 3.95 1 3.89 2 4.05 3 ...,0 3.98 1 3.84 2 4.07 3 ...,0 2.43 1 2.31 2 2.31 3 ...